
body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.box {
  background: white;
  padding: 20px;
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;
}

input, select, button {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
